/* MAIN **********************************************/
/*****************************************************/

main h2 {
  text-align: center;
  margin: 0;
}

main h5 {
  margin: 0 0 0.6em 0;
}

main h6 {
  text-align: center;
}



/* BODY BG COLOR *************************************/
/*****************************************************/

body {
  background-color: #FAF7F2;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  background-color: #FAF7F2;
}



/* MAIN **********************************************/
/*****************************************************/

main .intro-section img {
  width: 100%;
  object-fit: cover;
}

main h2 {
   max-width: 97%;
   margin: 0 auto;
}

main .design-section h5 {
  margin-top: 2em;
}



/* BUTTON ********************************************/
/*****************************************************/

main .button-resume {
  margin-right: 2em;
}

main .button-email-me {
  margin-left: 2em;
}



/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 { columns: 12, margin: 32px, gutter: 16px } */
main h2 { grid-column: 2/12; }
main .intro-section h5 { grid-column: 3/11; }
main .design-section h5 { grid-column: 4/10; }
main h6 { grid-column: 5/9; }
main .intro-section { margin-bottom: 10em; }
main .intro-section img { grid-column: 4/9; }

/* < 1680 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 1679px) {
}

/* < 599 { columns: 12, margin: 16px, gutter: 0px } */
@media(max-width: 599px) {
  main h2 { grid-column: 1/13; }
  main .intro-section h5 { grid-column: 2/12; }
  main .design-section h5 { grid-column: 2/12; }
  main h6 { grid-column: 2/12; }
  main .intro-section { margin-bottom: 5em; }
  main .intro-section img { grid-column: 2/12; }
}
