/* BODY BG COLOR *************************************/
/*****************************************************/
body {
  background-color: white;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  background-color: #FAF7F2;
}


/* MAIN **********************************************/
/*****************************************************/

main .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .intro-wrapper {
  background-color: #FAF7F2;
  padding-bottom: 14em;
}

main .summary-wrapper {
  margin-bottom: 8em;
}

main .challenge-wrapper {
  background-color: #FAF7F2;
  padding-top: 6em;
  margin-bottom: 8em;
}

main h1 {
  font-weight: 800;
  line-height: 1;
}

main h2 {
  font-weight: 600;
  line-height: 1;
}

main h3 {
  font-weight: 600;
  line-height: 1.2;
}

main h5 {
  font-weight: 400;
}

main h6 {
  font-weight: 600;
  line-height: 1.6;
}

main p {
  margin-top: 0;
}

main .intro-case {  /* h5 */
  grid-column: 2/4;
  margin: 10em 0 0 0;
}

main .intro-title { /* h1 */
  grid-column: 2/8;
  margin: 0;
}

main .intro-role {  /* h6 */
  grid-column: 10/12;
  margin: 0;
}

main .intro-role > span { /* h6 */
  font-weight: 300;
  letter-spacing: inherit;
}

main .intro-keyword { /* h6 */
  grid-column: 2/8;
  margin: 2em 0;
}

main .intro-tasks {  /* h6 */
  grid-column: 10/12;
  margin: 0;
}

main .main-image {
  grid-column: 2/12;
  object-fit: cover;
  width: 100%;
  margin-top: -8em;
  border-radius: 20px;
}

main .summary-title, .approach-title {
  grid-column: 3/6;
  margin: 1em 0 0.5em 0;
}

main .summary-description {
  grid-column: 3/11;
  margin: 0.5em 0;
}

main .challenge-title {
  margin: 0;
}

main .challenge-question {
  width: 47%;
  text-align: center;
}

main .challenge-image {
  width: 60%;
}

main .approach-description {
  grid-column: 3/11;
}

main .summary-wrapper a {
  text-decoration: none;
  font-weight: 600;
}

main .tldr-images {
  grid-column: 2/12;
  position: relative;
}

main .tldr-image-bg {
  object-fit: cover;
  width: 100%;
}

main .tldr-image-overlay {
  position: absolute;
  top: 4em;
  left: 4em;
  display: flex;
}

main .tldr-image-fr {
  object-fit: cover;
  width: 90%;
  margin: 0 auto;
}

/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 { columns: 12, margin: 32px, gutter: 16px } */
main h1 {font-size: 4rem;}
main h2 {font-size: 3.5rem;}
main h3 {font-size: 2.7rem;}
main h5 {font-size: 1.5rem;}
main h6 {font-size: 1.3rem;}
main .intro-role > span {font-size: 1.3rem;}    /* h6 */
main p {font-size: 1.25rem;}

/* < 1680 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 1679px) {
  main h1 {font-size: calc(0.7rem + 3.1vw);}
  main h2 {font-size: calc(1.7rem + 1.7vw);}
  main h3 {font-size: calc(1rem + 1.6vw);}
  main h5 {font-size: calc(0.4rem + 1vw);}
  main h6 {font-size: calc(0.3rem + 1vw);}
  main .intro-role > span {font-size: calc(0.3rem + 1vw);}  /* h6 */
  main p {font-size: calc(0.5rem + 0.6vw);}
}

/* < 905 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 904px) {
}

/* < 599 { columns: 12, margin: 16px, gutter: 0px } */
@media(max-width: 599px) {
}
