/* FONT **********************************************/
/*****************************************************/

@import url("https://use.typekit.net/mkk7wpw.css");

.font-serif{
  font-family: new-spirit, serif;
  font-style: normal;
}

.font-sans-serif {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

.font-black {
  color: black;
}

.font-white {
  color: #FAF7F2;
}



/* BODY **********************************************/
/*****************************************************/

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  width: 100%;
  height: 64px;
  top: 0;
  position: fixed;
}

header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: inherit;
}

header a {
  text-decoration: none;
}

header .current {
  text-decoration: underline;
  text-underline-position: under;
}

header .logo {
  font-size: 1.1rem;
}

header ul {
  padding: 0;
  display: flex;
  list-style: none;
}

header li {
  padding-left: 5em;
  font-size: 1rem;
  font-weight: 500;
}



/* MAIN **********************************************/
/*****************************************************/

main .grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
}

main .button-container {
  width: 100%;
  height: 20em;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

main .top-container {
  box-sizing: border-box;
  position: sticky;
  height: 3em;
  bottom: 0;
  z-index: 1;
  margin: auto;
  display: flex;
  padding: 0 2rem;
  justify-content: flex-end;
}

#button-top {
  height: 3em;
  width: auto;
  cursor: pointer;
}



/* FOOTER ********************************************/
/*****************************************************/

footer {
  width: 100%;
  height: 10em;
  background-color: #25292E;
}

footer .footer-bar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 2rem;
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .copyright {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1em;
}

footer .sns-wrapper {
  display: flex;
}

footer img {
  width: 3.6em;
  height: auto;
  padding-right: 1em;
}

footer a {
  text-decoration: none;
}

footer a, span {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}




/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* 1440+ { columns: 12, margin: 32px, gutter: 16px } */

header .nav-bar {
  width: 1440px;
  padding: 0 2rem;
}

main .grid-container {
  width: 1440px;
  padding: 0 2rem;
  grid-gap: 1rem;
}

main .top-container {
  max-width: 1440px;
}

footer .footer-bar {
  width: 1440px;
}

/* 1440- { columns: 12, margin: 32px, gutter: 16px } */

@media(max-width: 1439px){
  header .nav-bar {width: 100%;}
  main .grid-container {width: 100%;}
  main .top-container {width: 100%;}
  footer .footer-bar {width:100%;}
}

/* 599- { columns: 12, margin: 16px, gutter: 0px } */

@media(max-width: 599px){
  .grid-container {width: 100%; padding: 0 1rem; grid-gap: 0;}
  .nav-bar {width: 100%; padding: 0 1rem;}
}
















.intro-title, .intro-subtitle {
  grid-column: 2/12;
}

.intro-subtitle-2 {grid-column: 2/11;}

.project-wrapper-f-o:nth-child(odd) {
  grid-column: 2/7;
}

.project-wrapper-f-o:nth-child(even) {
  grid-column: 7/12;
}

.project-wrapper-f-c {
  grid-column: 2/12;
}

.project-wrapper-f-c > img {
  grid-column: 1/5;
}

.project-title-f-c {
  grid-column: 5/10;
}

.project-wrapper-v:nth-child(odd) {
  grid-column: 2/7;
}

.project-wrapper-v:nth-child(even) {
  grid-column: 7/12;
  margin-top: 4em;
}

.flex-container {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
}



/* GRADIENT-ANIMATION ********************************/
/*****************************************************/
/* .gradient-animation-text {
  background: linear-gradient(270deg, #5c678a, #cbb0ab);
  background-size: 200% 200%;
  animation: text-gradient 10s ease infinite;
}
@keyframes text-gradient {
  0%{-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-position:0% 50%;}
  50%{-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-position:100% 50%;}
  100%{-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-position:0% 50%;}
} */

/* URL BAR FIX ***************************************/
/*****************************************************/
/* html {
  margin: 0;
  overflow: hidden;
  width: 100%;
}
body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
} */
