html {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  margin: 0;
}

.page-home {
  background-color: white;
}

.page-work {
  background-color: #f0c8b6;
}

.page-about {
  background-color: #cbb0ab;
}

.page-blog {
  background-color: #817f95;
}

.page-sayhello {
  background-color: #5c678a;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  margin: 10px 30px 10px 30px;
  display: flex;
}

.animsition-overlay {
  display: flex;
  align-items: center;
}

/* .nav-logo img {
  vertical-align: middle;
} */

nav a {
  color: black;
  text-decoration: none;
}

.nav-logo {
  font-size: 20px;
}

.nav-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
}

.nav-container li {
  font-size: 15px;
  padding-left: 6vw;
}

.main-description {
  margin: 20vh 30px 0 30px;
}

.main-description ul {
  font-size: 1.3vw;
  margin: 0;
  padding: 2.5vh 0 0 2vw;
  width: 35%;
}

.main-description li {
  line-height: 130%;
}

.main-description a {
  color: black;
}

.chat-visitor {
  color: rgb(150, 150, 150);
}

section {
  background-size: cover;
}

section:hover {
  /* filter: brightness(70%); */
}

.panel-p1 {
  background-image: url("https://images.unsplash.com/photo-1553877522-43269d4ea984?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: 20% 50%;
}

.panel-p2 {
  background-image: url("https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: 60% 50%;
}

.panel-p3 {
  background-image: url("https://images.unsplash.com/photo-1523726491678-bf852e717f6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: 60% 50%;
}

.project-description {
  width: inherit;
  height: inherit;
  margin: 0 30px 0 30px;
  display: flex;
  align-items: center;
}

.project-title {
  display: inline-block;
}

.project-title h3, h4, p {
  margin: 1vh;
}

h1 {
  font-size: 5.5vw;
  font-weight: 500;
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 5.5vw;
  font-weight: 100;
  line-height: 110%;
  margin: 0;
}

h4 {
  font-size: 11px;
}

hr {
  width:7%;
  text-align:left;
  margin-left:10px;
  border-color: black;
}

/* #splitting {
  font-family: "IBM Plex Sans Roman", Times;
  font-weight: 300;
  font-size: 10vw;
  font-variation-settings: 'wght' 300;
}

#splitting .char {
  --delay: calc((var(--char-index) + 1) * 400ms);
  animation: breathe 4000ms infinite both;
  animation-delay: var(--delay);
}

@keyframes breathe {
  0% {
    font-variation-settings: 'wght' 300;
  }
  50% {
    font-variation-settings: 'wght' 500;
  }

  100% {
    font-variation-settings: 'wght' 300;
  }
}

@font-face {
  font-family: "IBM Plex Sans Roman";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
} */

@import url("https://use.typekit.net/mkk7wpw.css");

@media (max-width: 500px) {
  .nav-container ul li {font-size: 3.8vw; padding-left: 4vw;}
  .main-description ul {padding: 7vh 0 0 4vw; font-size: 4vw; width: 100%;}
  .main-description li p {line-height: 150%;}
  h1 {font-size: 9vw; line-height: 130%;}
  h2 {font-size: 8vw; line-height: 130%;}
}
