/* BODY **********************************************/
/*****************************************************/
body {
  background-color: black;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  background-color: black;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .3s ease-in-out;
}



/* MAIN **********************************************/
/*****************************************************/

main .intro-wrapper > h1 {
  grid-column: 2/12;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin: 3em 0 1.5em 0;
}

main .project-wrapper-f-o {
  margin-bottom: 2em;
}

main .project-wrapper-f-o  img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

main .project-title-f-o {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5em;
}

main .project-wrapper-f-o h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
}

main .project-wrapper-f-o h3 {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0;
}

main .subtitle-wrapper > h1 {
  grid-column: 2/12;
  font-size: 1.9rem;
  font-weight: 300;
  margin: 4em 0 0 0;
  width: 80%;
}

main .project-wrapper-f-c {
  grid-column: 2/12;
  border: 3px solid #FAF7F2;
  border-radius: 20px;
  display: flex;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 4em;
}

main .project-wrapper-f-c > img {
  object-fit: cover;
  justify-self: center;
  align-self: center;
  width: 30%;
}

main .project-title-f-c {
  align-self: center;
}

main .project-wrapper-f-c h2 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
}

main .project-wrapper-f-c h3 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  margin-top: 0.5em;
}

main .project-wrapper-f-c h4 {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 4em;
}

main .project-wrapper-f-c p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 0;
}

main .project-wrapper-f-c hr {
  background-color: #FAF7F2;
  width: 1em;
  margin-left: 0;
}

main .margin-bottom {
  margin-bottom: 4em;
}

main .parallax-back {
  position: relative;
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #00581B;
}

main #panel-2 > .grid-container {
  min-height: 100vh;
  margin-top: -100vh;
  /* padding-bottom: 25vh; */
}

main .flex-container-col {
  grid-column: 2/12;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .title-wrapper > h1 {
  font-weight: 800;
  line-height: 1;
  margin-top: 1em;
}

main .grid-container-col-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 10vh 0;
}

main .project-wrapper-v h2 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

main .project-wrapper-v h3 {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1;
  margin-top: 1em;
  padding: 0 0.5em;
}

main .project-wrapper-v img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  padding: 0 0.5em;
}

main .project-title-v {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0.5em;
}

main #panel-3 > .grid-container {
  min-height: 100vh;
}

main .flex-container-row {
  grid-column: 2/12;
  display: flex;
  justify-content: center;
}

main .project-wrapper-e img {
  object-fit: cover;
  width: 100%;
  margin-top: 2em;
  padding: 0 0.5em;
}

main .project-wrapper-e h2 {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  padding: 0 0.5em;
}



/* BUTTON ********************************************/
/*****************************************************/

#button-email-wondo {
  width: auto;
  height: 2.8em;
  display: block;
  margin: 2em auto;
}



/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 { columns: 12, margin: 32px, gutter: 16px } */
main .intro-wrapper > h1 {font-size: 4rem;}
main .title-wrapper > h1 {font-size: 4rem;}
main .project-wrapper-f-o:nth-child(odd) {grid-column: 2/7;}
main .project-wrapper-f-o:nth-child(even) {grid-column: 7/12;}
main .project-wrapper-f-c {height: 25em; grid-gap: 16px;}
/* main .project-wrapper-f-c > img {width: 70%; grid-column: 1/5;}
main .project-title-f-c {grid-column: 5/10;} */
main .grid-container-col-10 {grid-gap: 16px;}


/* < 1680 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 1679px) {
  main .intro-wrapper > h1 {font-size: calc(1.5rem + 2.3vw);}
  main .title-wrapper > h1 {font-size: calc(1.5rem + 2.3vw);}
}

/* < 599 { columns: 12, margin: 16px, gutter: 0px } */
@media(max-width: 599px) {
  main .subtitle-wrapper > h1 {width: 100%;}
  main .project-wrapper-f-o:nth-child(odd) {grid-column: 2/12;}
  main .project-wrapper-f-o:nth-child(even) {grid-column: 2/12;}
  main .project-title-f-o {flex-direction: column; align-items: flex-start;}
  main .project-wrapper-f-c {flex-direction: column; min-height: 45em;}
  main .project-wrapper-f-c > img {width:80%;}
  main .flex-container-row {flex-direction: column;}
  main .project-wrapper-v img {padding: 0;}
  main .project-wrapper-v h2 {padding: 0;}
  main .project-wrapper-e img {padding: 0;}
  main .project-wrapper-e h2 {padding: 0;}
}
