/* BODY BG COLOR *************************************/
/*****************************************************/

body {
  background-color: #FAF7F2;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  background-color: #FAF7F2;
}



/* MAIN **********************************************/
/*****************************************************/

main .intro-wrapper {
  grid-column: 1/13;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .intro-wrapper > h1 {
  font-weight: 800;
  text-align: center;
  margin: 0;
}

main .intro-wrapper > h2 {
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
}

main .intro-wrapper > h3 {
  font-weight: 400;
  text-align: center;
  margin-top: 2em;
}

main .outro-container {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .outro-container > p {
  text-align: center;
}

main .outro-container > img {
  object-fit: cover;
  width: 65%;
  align-self: center;
}




/* SCROLL-ZOOM ***************************************/
/*****************************************************/

*, *:before, *:after {
  box-sizing: inherit;
}

main .project-wrapper {
  grid-column: 1/13;
  margin: 0 -2em;
}

main .scroll-zoom {
  position: relative;
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-color: #FAF7F2;
  overflow: hidden;
  border-width: 4.25em;  /* scroll-zoom-variables */
  -webkit-transition: border-width .3s ease-in-out;
  transition: border-width .3s ease-in-out;
}

main .scroll-zoom img, main .scroll-zoom video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(100%);
  -webkit-transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
}

main .project-thumbnail {
  border-radius: 30px;
  -webkit-transition: border-radius .3s ease-in-out;
  transition: border-radius .3s ease-in-out;
}

main .project-title {
  min-height: 75vh;
  margin-top: -75vh;
  max-width: 55%;
  padding-left: 4.25em;
  margin-left: 4.25em;  /* scroll-zoom-variables */
  -webkit-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
}

main .project-title > h1 {
  margin-top: 40vh;
  font-weight: 600;
  line-height: 1.4;
}

main .project-title > h2 {
  font-weight: 300;
  line-height: 1;
}

main .project-title > h3 {
  font-weight: 300;
  line-height: 1;
}

main .project-title > p {
  font-weight: 500;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 50vh;
}

main .project-wrapper a {
  text-decoration: none;
}

main .project-title:hover {
  text-decoration: underline;
  color: #FAF7F2;
  /* text-underline-position: under; */
}




/* BUTTON ********************************************/
/*****************************************************/

#button-seemore {
  width: auto;
  display: block;
  margin: 5em auto;
}



/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 { columns: 12, margin: 32px, gutter: 16px } */
main .intro-wrapper > h1 {font-size: 5.8rem;}
main .intro-wrapper > h2 {font-size: 1.5rem;}
main .intro-wrapper > h3 {font-size: 1rem;}
main .project-title > h1 {font-size: 1.5rem;}
main .project-title > h2 {font-size: 1.5rem;}
main .project-title > h3 {font-size: 1.1rem;}
main .project-title > p {font-size: 3.2rem;}
#button-seemore {height: 2.8em;}
main .outro-container > p {font-size: 2.1rem;}
main .outro-container {height: calc(100vh - 10em);}

/* < 1680 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 1679px) {
  main .intro-wrapper > h1 {font-size: calc(3rem + 3vw) !important;}
  main .intro-wrapper > h2 {font-size: calc(0.8rem + 0.7vw) !important;}
  main .intro-wrapper > h3 {font-size: calc(0.5rem + 0.5vw) !important;}
  main .project-title > h1 {font-size: calc(0.8rem + 0.8vw) !important;}
  main .project-title > h2 {font-size: calc(0.8rem + 0.8vw) !important;}
  main .project-title > h3 {font-size: calc(0.6rem + 0.6vw) !important;}
  main .project-title > p {font-size: calc(1rem + 2vw) !important;}
  main .outro-container > p {font-size: calc(1.1rem + 1.1vw) !important;}
}

/* < 600 { columns: 12, margin: 16px, gutter: 0px } */
@media(max-width: 599px) {
  main .project-wrapper {margin: 0 -1em;}
  #button-seemore {height: 1.8em;}
  main .outro-container {height: calc(70vh - 10em);}
  main .outro-container > img {width: 100%;}
  main .project-title {max-width: 80%; padding-left: 2.25em;}
}
