/* BODY BG COLOR *************************************/
/*****************************************************/
body {
  background-color: #FAF7F2;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  background-color: #FAF7F2;
}



/* MAIN **********************************************/
/*****************************************************/

main h1 {
  font-weight: 800;
  line-height: 1;
  text-align: center;
}

main .section-1 h1 {
  margin: 3em 0 0 0;
}

main h2 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 2em;
}

main p {
  font-weight: 300;
  margin-bottom: 0;
}

main .section-2 h1 {
  margin: 0;
}

main img {
  object-fit: cover;
  width: 70%;
  margin: 0 auto;
}

main .section-1 img {
  grid-column: 2/12;
}

main .section-2 .gif {
  width: 100%;
  height: 0;
  padding-bottom: 69%;
  position: relative;
}

main section {
  margin-bottom: 6em;
}



/* BUTTON ********************************************/
/*****************************************************/

#button-resume {
  width: auto;
  height: 2.8em;
  display: block;
  margin: 2.5em 4em 3em 0;
}

#button-email-me {
  width: auto;
  height: 2.8em;
  display: block;
  margin: 2.5em 0 3em 0;
}



/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 { columns: 12, margin: 32px, gutter: 16px } */
main h1 {font-size: 4rem;}
main .section-1 h1 {grid-column: 3/11;}
main h2 {font-size: 1rem; grid-column: 5/9;}
main img {width: 70%;}
main p {font-size: 1.5rem;}
main .section-1 p {grid-column: 3/11;}
main .section-2 .gif {grid-column: 3/11;}
main .section-2 h1 {grid-column: 3/11;}
main .section-2 p {grid-column: 4/10;}

/* < 1680 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 1679px) {
  main h1 {font-size: calc(1.5rem + 2.3vw);}
  main h2 {font-size: calc(0.5rem + 0.45vw);}
  main p {font-size: calc(0.7rem + 0.7vw);}
}

/* < 599 { columns: 12, margin: 16px, gutter: 0px } */
@media(max-width: 599px) {
  main .section-1 h1 {grid-column: 1/13;}
  main h2 {grid-column: 2/12;}
  main img {width: 90%;}
  main .section-1 p {grid-column: 2/12;}
  main .section-2 .gif {grid-column: 2/12;}
  main .section-2 h1 {grid-column: 2/12;}
  main .section-2 p {grid-column: 2/12;}
}
