/* BODY BG COLOR *************************************/
/*****************************************************/

body {
  background-color: #FAF7F2;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  background-color: #FAF7F2;
}



/* INTRO *********************************************/
/*****************************************************/

main .intro-wrapper {
  grid-column: 1/13;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 12px 0;
}

main .intro-wrapper > .intro-sentence-style {
  font-weight: 500;
  letter-spacing: -1.5px;
}

main .intro-wrapper > .intro-name-style {
  font-weight: 700;
  letter-spacing: -1.5px;
}



/* SCROLL-ZOOM ***************************************/
/*****************************************************/

main .project-wrapper {
  grid-column: 1/13;
  margin: 0 -2em;
}

main .scroll-zoom {
  position: relative;
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-color: #FAF7F2;
  overflow: hidden;
  border-width: 4.25em;  /* scroll-zoom-variables */
  -webkit-transition: border-width .3s ease-in-out;
  transition: border-width .3s ease-in-out;
}

main .scroll-zoom img, main .scroll-zoom video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(100%);
  -webkit-transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
}

main .project-thumbnail {
  border-radius: 30px;
  -webkit-transition: border-radius .3s ease-in-out;
  transition: border-radius .3s ease-in-out;
}

main .project-title {
  min-height: 75vh;
  margin-top: -75vh;
  margin-bottom: 50vh;
  max-width: 55%;
  padding: 15vh 0 0 4.25em;
  margin-left: 4.25em;  /* scroll-zoom-variables */
  -webkit-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
}

main .project-title > .project-title-style {
  margin: 1em 0;
}

main .project-title > .project-challenge-style {
  margin: 16em 0 1em 0;
}

main .project-title > .project-description-style {
  margin-top: 0;
  line-height: 1.6;
}

main .project-title > .project-button-style {
  border: #FAF7F2 solid 2px;
  border-radius: 25px;
  padding: 0.5em 0.8em;
  background-color: transparent;
  transition: background-color .5s;
}

main .project-wrapper a {
  text-decoration: none;
}

main .project-title > span:hover {
  background-color: #FAF7F2;
  color: black;
}



/* SEE-MORE  *****************************************/
/*****************************************************/

main .see-more {
  margin-bottom: 20em;
}

#button-seemore {
  height: 2.8em;
  width: auto;
  display: block;
  margin: 5em auto;
}



/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 { columns: 12, margin: 32px, gutter: 16px } */
main .intro-wrapper > .intro-sentence-style { font-size: 36px; }
main .intro-wrapper > .intro-name-style { font-size: 110px; }
  

/* < 1680 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 1679px) {
  main .intro-wrapper > .intro-sentence-style { font-size: calc(18px + 1vw); }
  main .intro-wrapper > .intro-name-style { font-size: calc(55px + 3.2vw); }
}

/* < 600 { columns: 12, margin: 16px, gutter: 0px } */
@media(max-width: 599px) {
  main .intro-wrapper > .intro-sentence-style { font-size: 1.6rem; }
  main .intro-wrapper > .intro-name-style { font-size: 4rem; }
  main .project-wrapper {margin: 0 -1em;}
  main .scroll-zoom {border-width: 0;}  /* scroll-zoom-variables */
  main .project-title {max-width: 80%; padding-left: 2em; margin-left: 0;}  /* scroll-zoom-variables */
  main .project-thumbnail {border-radius: 0;}
}
