/* FONT **********************************************/
/*****************************************************/

@import url("https://use.typekit.net/mkk7wpw.css");

.font-serif{
  font-family: new-spirit, serif;
  font-style: normal;;
}

.font-sans-serif, body{
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

.font-white {
  color: #FAF7F2;
}



/* BODY BG COLOR *************************************/
/*****************************************************/

.page-home {background-color: #FAF7F2;}
.page-work {background-color: black;}
.page-about {background-color: #cbb0ab;}
.page-blog {background-color: #817f95;}

.page-home header {background-color: #FAF7F2;}
.page-work header {background-color: black;}
.page-about header {background-color: #cbb0ab;}
.page-blog header {background-color: #817f95;}



/* GRID **********************************************/
/*****************************************************/

body {
  margin: 0;
  overflow-x: hidden;
}

/* default: 1440+ { columns: 12, margin: 32px, gutter: 16px } */
.nav-bar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: inherit;
  padding: 0 2rem;
}

.grid-container {
  display: grid;
  margin: auto;
  width: 1440px;
  padding: 0 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}

.main-container {
  grid-column: 1/13;
}

section {
  grid-column: 1/13;
}

.footer-bar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: inherit;
  padding: 0 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  grid-column: 1/13;
}

.project-wrapper {
  grid-column: 2/7;
}

/* 1440- { columns: 12, margin: --px, gutter: --px } */
@media(max-width: 1439px){
  .grid-container {width: 100%; padding: 0 2rem; grid-gap: 1rem;}
  .nav-bar {width: 100%; padding: 0 2rem;}
  .home-intro-content > h1 {font-size: calc(3rem + 3vw) !important;}
  .home-intro-content > h2 {font-size: calc(0.8rem + 0.7vw) !important;}
  .home-intro-content > h3 {font-size: calc(0.5rem + 0.5vw) !important;}
  .home-project-container h1 {font-size: calc(0.8rem + 0.8vw) !important;}
  .home-project-container h2 {font-size: calc(0.8rem + 0.8vw) !important;}
  .home-project-container h3 {font-size: calc(0.6rem + 0.6vw) !important;}
  .home-project-container p {font-size: calc(1.7rem + 1.7vw) !important;}
  .home-bottom-contet > p {font-size: calc(1.1rem + 1.1vw) !important;}
}

/* 599- { columns: 12, margin: --px, gutter: --px } */
@media(max-width: 599px){
  .grid-container {width: 100%; padding: 0 1rem; grid-gap: 0;}
  .nav-bar {width: 100%; padding: 0 1rem;}
}

/* @media screen and (max-width: 500px) {
  .scroll-zoom {border-style: none;}
} */



/* HEADER ********************************************/
/*****************************************************/

header {
  width: 100%;
  height: 64px;
  top: 0;
  position: fixed;
  /* background-color: #FAF7F2; */
}

header a {
  color: black;
  text-decoration: none;
}

.logo {
  font-size: 1.1rem;
}

header ul {
  padding: 0;
  display: flex;
  list-style: none;
}

header li {
  padding-left: 5em;
  font-size: 15px;
  font-weight: 500;
}



/* HOME-INTRO ****************************************/
/*****************************************************/

.home-intro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.home-intro-content > h1 {
  font-size: 5.8rem;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.home-intro-content > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1em;
}

.home-intro-content > h3 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2em;
}



/* HOME-PROJECT **************************************/
/*****************************************************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page-home section {
  margin: 0 -2em;
}

.scroll-zoom {
  position: relative;
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-color: #FAF7F2;
  border-width: 4.25em; /* 9.25 */
  -webkit-transition: border-width .3s ease-in-out;
  transition: border-width .3s ease-in-out;
  overflow: hidden;
}

.scroll-zoom img, .scroll-zoom video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(100%);
  -webkit-transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-project-container {
  margin-left: 4.5em; /* 9.5 */
  -webkit-transition: margin-bottom .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  padding-left: 3.5em;
  min-height: 75vh;
  max-width: 55%;
}

.home-project-thumbnail {
  border-radius: 30px;
  -webkit-transition: border-radius .3s ease-in-out;
  transition: border-radius .3s ease-in-out;
}

.home-project-container {margin-top: -30vh;}
.home-project-title {margin-bottom: 40vh;}
.home-project-content {padding-bottom: 50vh;}

.home-project-container h1 {color: #FAF7F2; font-size: 1.5rem; font-weight: 600; line-height: 1;}
.home-project-container h2 {color: #FAF7F2; font-size: 1.5rem; font-weight: 300; line-height: 1;}
.home-project-container h3 {color: #FAF7F2; font-size: 1.1rem; font-weight: 300; line-height: 1;}
.home-project-container p {margin: 0; color: #FAF7F2; font-size: 3.2rem; font-weight: 500; line-height: 1.4;}

#button-seemore {
  width: 13.5em;
  height: auto;
  display: block;
  margin: 5em auto;
}


/* HOME-BOTTOM ***************************************/
/*****************************************************/

.home-bottom-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.home-bottom-content {
  text-align: center;
}

.home-bottom-content > p {
  font-size: 2.1rem;
}

.ordinary-man {
  width: 100%;
  height: auto;
  margin-bottom: 4em;
}



/* FOOTER ********************************************/
/*****************************************************/

footer {
  width: 100%;
  height: 10em;
  background-color: #25292E;
  margin-top: -10em;
}

footer a {
  color: #25292E;
  text-decoration: none;
}

.copyright {
  color: #FAF7F2;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1em;
}

.sns-wrapper {
  display: flex;
}

.sns-wrapper img {
  width: 3.6em;
  height: auto;
  padding-right: 1em;
}

.footer-nav > a, span {
  color: #FAF7F2;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

#button-top {
  width: 10em;
  height: auto;
  bottom: 2em;
  right: 2em;
  position: fixed;
  z-index: 2;
  cursor: pointer;
}



/* HOME-BOTTOM ***************************************/
/*****************************************************/

.intro-title {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-top: 2em;
}

.project-wrapper > img {
  object-fit: cover;
  width: 100%;
  /* max-height: 100%; */
}


/* GRADIENT-ANIMATION ********************************/
/*****************************************************/
/* .gradient-animation-text {
  background: linear-gradient(270deg, #5c678a, #cbb0ab);
  background-size: 200% 200%;
  animation: text-gradient 10s ease infinite;
}
@keyframes text-gradient {
  0%{-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-position:0% 50%;}
  50%{-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-position:100% 50%;}
  100%{-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-position:0% 50%;}
} */



/* URL BAR FIX ***************************************/
/*****************************************************/
/* html {
  margin: 0;
  overflow: hidden;
  width: 100%;
}
body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
} */
