/* BODY BG COLOR *************************************/
/*****************************************************/

body {
  background-color: #FAF7F2;
}



/* HEADER ********************************************/
/*****************************************************/

header {
  background-color: #FAF7F2;
}



/* MAIN **********************************************/
/*****************************************************/

main .intro-wrapper {
  grid-column: 1/13;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .intro-wrapper > h1 {
  font-weight: 600;
  text-align: center;
  margin: 0;
}

@font-face {
	font-family: "Crimson Pro";
	src: url("../assets/font/CrimsonPro-Roman-VF.ttf");
}

main .intro-wrapper > h2 {
  font-family: "Crimson Pro", serif;
  font-variation-settings: 'wght' 300, 'wdth' 85;
  font-weight: 100;
  letter-spacing: 0;
  text-align: center;
  margin-top: 1em;
}

main .intro-wrapper > h2 .char {
  --delay: calc((var(--char-index) + 1) * 400ms);
  animation: breathe 4000ms infinite both;
	animation-delay: var(--delay);
}

/* main .intro-wrapper > h2:hover span {
	animation-play-state: paused;
} */

@keyframes breathe {
  0% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
	}
  60% {
		font-variation-settings: 'wght' 700, 'wdth' 100;
	}
	
	100% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
	}
}

main .intro-wrapper > h3 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1em;
}

main .outro-container {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .outro-container > p {
  text-align: center;
}

main .outro-container > img {
  object-fit: cover;
  width: 65%;
  align-self: center;
}




/* SCROLL-ZOOM ***************************************/
/*****************************************************/

main .project-wrapper {
  grid-column: 1/13;
  margin: 0 -2em;
}

main .scroll-zoom {
  position: relative;
  position: sticky;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  border-style: solid;
  border-color: #FAF7F2;
  overflow: hidden;
  border-width: 4.25em;  /* scroll-zoom-variables */
  -webkit-transition: border-width .3s ease-in-out;
  transition: border-width .3s ease-in-out;
}

main .scroll-zoom img, main .scroll-zoom video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(100%);
  -webkit-transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
}

main .project-thumbnail {
  border-radius: 30px;
  -webkit-transition: border-radius .3s ease-in-out;
  transition: border-radius .3s ease-in-out;
}

main .project-title {
  min-height: 75vh;
  margin-top: -75vh;
  margin-bottom: 50vh;
  max-width: 55%;
  padding-left: 4.25em;
  margin-left: 4.25em;  /* scroll-zoom-variables */
  -webkit-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
}

main .project-title > h1 {
  margin-top: 40vh;
  font-weight: 600;
  line-height: 1.4;
}

main .project-title > h2 {
  font-weight: 300;
  line-height: 1;
}

main .project-title > h3 {
  font-weight: 300;
  line-height: 1;
}

main .project-title > p {
  font-weight: 500;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1em;
}

main .project-title > span {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  border: #FAF7F2 solid 2px;
  border-radius: 25px;
  padding: 0.5em 0.8em;
  background-color: transparent;
  transition: background-color .5s;
}

main .project-wrapper a {
  text-decoration: none;
}

main .project-title > span:hover {
  background-color: #FAF7F2;
  color: black;
}




/* BUTTON ********************************************/
/*****************************************************/

#button-seemore {
  height: 2.8em;
  width: auto;
  display: block;
  margin: 5em auto;
}



/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 { columns: 12, margin: 32px, gutter: 16px } */
main .intro-wrapper > h1 {font-size: 5.8rem;}
main .intro-wrapper > h2 span{font-size: 2.8rem; letter-spacing: 0;}
/* main .intro-wrapper > h2 {font-size: 1.5rem;} */
main .intro-wrapper > h3 {font-size: 1rem;}
main .project-title > h1 {font-size: 1.5rem;}
main .project-title > h2 {font-size: 1.5rem;}
main .project-title > h3 {font-size: 1.1rem;}
main .project-title > p {font-size: 3.2rem;}
main .outro-container > p {font-size: 2.1rem;}
main .outro-container {height: calc(100vh - 10em);}

/* < 1680 { columns: 12, margin: 32px, gutter: 16px } */
@media(max-width: 1679px) {
  main .intro-wrapper > h1 {font-size: calc(3rem + 3vw) !important;}
  main .intro-wrapper > h2 span{font-size: calc(1.4rem + 1.4vw);}
  /* main .intro-wrapper > h2 {font-size: calc(0.8rem + 0.7vw) !important;} */
  main .intro-wrapper > h3 {font-size: calc(0.5rem + 0.5vw) !important;}
  main .project-title > h1 {font-size: calc(0.8rem + 0.8vw) !important;}
  main .project-title > h2 {font-size: calc(0.8rem + 0.8vw) !important;}
  main .project-title > h3 {font-size: calc(0.6rem + 0.6vw) !important;}
  main .project-title > p {font-size: calc(1rem + 2vw) !important;}
  main .outro-container > p {font-size: calc(1.1rem + 1.1vw) !important;}
}

/* < 600 { columns: 12, margin: 16px, gutter: 0px } */
@media(max-width: 599px) {
  main .intro-wrapper > h2 span{font-size: 1.2rem;}
  main .project-wrapper {margin: 0 -1em;}
  main .outro-container {height: calc(70vh - 10em);}
  main .outro-container > img {width: 100%;}
  main .scroll-zoom {border-width: 0;}  /* scroll-zoom-variables */
  main .project-title {max-width: 80%; padding-left: 2em; margin-left: 0;}  /* scroll-zoom-variables */
  main .project-thumbnail {border-radius: 0;}
}
