body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100, 300, 500, 700;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
}

nav {
  margin: 30px;
  display: flex;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  vertical-align: middle;
}

.nav-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
}

.nav-container li {
  padding-left: 4vw;
}

.nav-container a {
  color: black;
  text-decoration: none;
}

.main-container li {
  list-style:none;
}

.home {
    background: white;
}

.panel1 {
    background: lightgray;
}

.panel2 {
    background: gray;
}

.panel3 {
    background: lightgray;
}

.panel4 {
    background: white;
}

.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.pagination a {
    display: block;
    color: black;
    position: relative;
    padding: 20px;
}

.pagination a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-right: 15px;
    white-space:nowrap;
}

.pagination a:hover .hover-text {
    opacity: 1;
}

.pagination a:after {
    content: "";
    transition: box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}

@import url("https://use.typekit.net/mkk7wpw.css");

@media (max-width: 800px) {
  .nav-container ul li {font-size: 3.8vw;}
}
